body {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    padding: 3%;
}
h1 > img {
  width: 1.5em;
  vertical-align: middle;
  padding: .3em;
}
